Home.css */

 .home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0; 
  }
  
  .logo {
    display: grid;
    max-width: 80%;
    max-height: 80%; 
    margin: 5% 5% 5% 5%;
  }
  
  
  h1, h2 {
    display: flex;
    justify-items: center;
    color: #333;
    margin: 20px;
  }
  
  p {
    p {
      display: grid;
      justify-content: center; /* Zamiast space-between */
      font-size: 25px;
      line-height: 1.6;
      margin: 0 auto; /* Odnosi się do marginesów - automatyczny margines poziomy, aby wycentrować */
      max-width: 800px; /* Dostosuj maksymalną szerokość tekstu do swoich preferencji */
    }
    ;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0 0 0 ;
    background-color: #1E4E79;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: background-color 0.3s; 
    padding: auto;
  }
  nav a:hover {
    background-color:#940020 ;
    border-radius: 10%; 
  }
  

  